.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/log/*.log
test/dummy/tmp/
*.gem
**/.DS_Store
test/standalone/db/*.sqlite3
test/standalone/db/*.sqlite3-journal
test/standalone/log/*.log
test/standalone/tmp/

test/dummy/db/*.sqlite3*
