language: ruby

rvm:
  - "1.9.3"
  - "2.0"
  - "2.1"
  - "2.2"
  - ruby-head

before_install: gem install bundler

cache: bundler

bundler_args: --without development --jobs=3 --retry=3 --path=../vendor/bundle