<div id="explain_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">Explain SQL</h2>
  <p class="lead"><%= sql %></p>
  <pre>
    <% sql_query.explain.rows.each do |row| %>
      <%= row.join(' ') %>
    <% end %>
  </pre>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>