<div id="history_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">History:</h2>
  <div class='scrollable sql_history_items'>
    <% RailsDb::History.history.each do |sql| %>
      <p><%= link_to sql, sql_execute_path(sql: sql), method: :post %></p>
    <% end %>
  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>