<h1>Data Table</h1>

<p>
  You can add easily data-tables into your App with content from DB.
  <br/>
  You can build data tables for whole Table, Table with specific columns or based on SQL query.
</p>

<h3>With Following Code:</h3>

<p><%= image_tag 'rails_db/data_table_code.png' %></p>

<h3>You will get:</h3>

<p><%= image_tag 'rails_db/data_table.png' %></p>

<br/>

<p><%= link_to 'More Options for Data Tables ==>', 'https://github.com/igorkasyanchuk/rails_db/blob/master/app/helpers/rails_db/rails_db_data_table_helper.rb' %></p>
