<%= image_tag 'rails_db/logo.png' %>

<br/>
<br/>

<p>Welcome, in Rails DB you can:</p>

<ul>
  <li>use command line tools `railsdb` and `runsql` to run app and sql for your apps.</li>
  <li>view content and schema of DB tables (including indexes)</li>
  <li>create, edit content</li>
  <li>sort content of DB tables</li>
  <li>filters support</li>
  <li>execute SQL queries</li>
  <li>enjoy autocomplete for your SQL queries</li>
  <li>filter tables for easier navigation</li>
  <li>use history of your SQL queries</li>
  <li>see EXPLAIN results for your queries</li>
  <li>export data to CSV and Excel (see documentation)</li>
  <li>hide/show columns</li>
  <li>import SQL files</li>
  <li>expand/collapse sidebar</li>
  <li>experience added HTTP_BASIC auth for Rails DB</li>
  <li>ability to turn on/off using initializer</li>
  <li>include white/black lists</li>
  <li>explore data-tables inside your app</li>
  <li>ajax-ify Rails DB</li>
  <li>delete records, truncate tables</li>
  <li>__visualize SQL schema (future)__</li>
  <li>__CRUD for table records (future)__</li>
</ul>

<br/>

<p>
  <span class='label alert'><===&nbsp;NOW: Select any table in the sidebar to start ...</span>
</p>
