<%= image_tag 'rails_db/logo.png' %>

<h1>Welcome to Rails DB</h1>

<p>You can do:</p>

<ul>
  <li>view content of DB tables</li>
  <li>execute SQL queries</li>
  <li>export data(future)</li>
</ul>

<br/>

<p>Select any table on the sidebar to start ...</p>