<%= image_tag 'rails_db/logo.png' %>

<br/>
<br/>

<p>Welcome, in Rails DB you can do:</p>

<ul>
  <li>view content of DB tables</li>
  <li>sort content of DB tables</li>
  <li>execute SQL queries</li>
  <li>filter tables for easier navigation</li>
  <li>use history of you SQL queries</li>
  <li>see EXPLAIN results for your queries</li>
  <li>export data</li>
  <li>import data</li>
  <li>visualize SQL schema (future)</li>
  <li>data-tables inside your app (future)</li>
  <li>ajax-ify Rails DB (future)</li>
</ul>

<br/>

<p>
  <span class='label alert'>NOW: Select any table in the sidebar to start ...</span>
</p>