<%= image_tag 'rails_db/logo.png' %>

<br/>
<br/>

<p>Welcome, in Rails DB you can do:</p>

<ul>
  <li>command line tools `railsdb` and `runsql` to run app and sql for your apps.</li>
  <li>view content and schema of DB tables (including indexes)</li>
  <li>sort content of DB tables</li>
  <li>execute SQL queries</li>
  <li>autocomplete for your SQL queries</li>
  <li>filter tables for easier navigation</li>
  <li>use history of you SQL queries</li>
  <li>see EXPLAIN results for your queries</li>
  <li>export data to CSV</li>
  <li>import SQL files</li>
  <li>expand/collapse sidebar</li>
  <li>added HTTP_BASIC auth for Rails DB</li>
  <li>ability to turn on/off using initializer</li>
  <li>white/black lists</li>
  <li>data-tables inside your app</li>
  <li>ajax-ify Rails DB</li>
  <li>delete records, truncate tables</li>
  <li>visualize SQL schema (future)</li>
  <li>CRUD for table records (future)</li>
</ul>

<br/>

<p>
  <span class='label alert'>NOW: Select any table in the sidebar to start ...</span>
</p>