footer {
  padding: 0;
}

body {
  height: auto;
}

.clear {
  clear: both;
}

.sub-nav {
  background: #f2f2f2;
  padding: 10px 10px 10px 0;
}

table {
  border-spacing: 2px;

  th .current {
    padding-right: 12px;
    background-repeat: no-repeat;
    background-position: right center;
  }

  th .asc {
    background-image: asset-url('rails_db/up_arrow.gif');
  }

  th .desc {
    background-image: asset-url('rails_db/down_arrow.gif');
  }

  th, td {
    white-space: nowrap;
    vertical-align: top;
  }

  td.text {
    white-space: normal;
  }

}

.scrollable {
  overflow: auto;
  table {
    min-width: 99%;
  }
}

.main_nav {
  padding-top: 30px;
}

.panel.execute_panel {
  padding-bottom: 5px;
}

.sql_history_items {
  max-height: 450px;
}

.red {
  color: red;
}

.yellow {
  color: #ffba00;
}

.warning.label a {
  color: white;
}

.expanded {
  .collapse {
    display: inline;
  }
  .expand {
    display: none;
  }
}

.collapsed {
  .collapse {
    display: none;
  }
  .expand {
    display: inline;
  }
}

.sql_exp_col {
  padding-top: 8px;
  padding-left: 26px;
}
