/*
 *= require rails_db/foundation.min
 *= require rails_db/foundation_and_overrides
 *= require stylesheets/codemirror
 *= require stylesheets/codemirror/themes/pastel-on-dark.css
 *= require stylesheets/codemirror/addons/hint/show-hint.css
 *= require rails_db/app
 *= require rails_db/sidebar
 *= require rails_db/pagination
 *= require rails_db/table
 *= require rails_db/forms
 *= require rails_db/search
 */
