.side-nav.tables {
  padding-top: 6px;
  li {
    margin: 0;
    margin-left: 3px;
    a {
      padding: 2px 4px;
      &.selected {
        i {
          color: red;
        }
      }
    }
  }
}

#sidebar {
  h3 {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
}