<div id="more_gems_modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
  <h2 id="modalTitle">More Cool Gems</h2>
  <div class='scrollable sql_history_items'>

    <h3><%= link_to 'AnyLogin', 'https://github.com/igorkasyanchuk/any_login', target: '_blank'%> - Easy way to login as any user in system</h3>

    <h3><%= link_to 'RailsDB', 'https://github.com/igorkasyanchuk/rails_db', target: '_blank'%> - Rails Database Viewer and SQL Query Runner</h3>

    <h3><%= link_to 'Transactify', 'https://github.com/igorkasyanchuk/transactify', target: '_blank'%> - Wrap your methods in DB Transactions</h3>

    <h3><%= link_to 'Benchmark Methods', 'https://github.com/igorkasyanchuk/benchmark_methods', target: '_blank'%> - Benchmark and measure execution time your Ruby methods without an additional code changes</h3>

  </div>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>